{% load static %}
{% include 'header.html' %}
{% include 'head.html' %}
<head>
  <link rel="stylesheet" href=" ../static/css/kdiong.css" />
</head>
 <body>
 <div class="bandeau">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-success text-center" data-mdb-theme="dark">
          <h1 class="mb-3" >Système de suivi des Objets Perdus</h1>
          <h5 class="mb-4">Déclaraton en ligne des pièces administratives perdues</h5>
        </div>
    </div>
 </div>
 </body>
 {% block content %}
 <div class="container">
  <div class="form-box">
    <div class="col-12">
      <h2> Formulaire de déclaration de perte </h2><br>
      <form>
        <div class="col-12" aria-multiline="true">
          <select class="form-select bg-light border-0" style="height: 55px;">
            <option selected="">Nom de la pièce</option>
            <option value="carte identite">Carte d'identité</option>
            <option value="passeport">Passeport</option>
            <option value="permis de conduire">Permis de conduire</option>
          </select>
        </div>
        <br> 
        <div class="col-12">
          <textarea class="form-control border-0 bg-light px-4 py-3" name="description" rows="3" placeholder="Description"></textarea>
        </div>
        <br> 
        <div class="col-6">
          <label for="date_perte" class="form-label">Date de perte :</label>
          <input type="date" class="form-control border-0 bg-light px-4" name="date_de_declaration" placeholder="Date de déclaration" style="height: 55px;">
        </div>
        <br> 
        <div class="col-md-9">
          <input type="file" class="form-control border-0 bg-light px-4"  name="image" accept="image/png, image/jpeg"   placeholder="Image de la pièce" style="height: 55px;">
        </div>
        <br> 
        <div class="row">
          <div class="col-6"></div>
          <div class="col-4">
            <button class="btn btn-warning w-100 py-3" type="submit">Envoyer</button>
          </div>
          <div class="col-2"></div>
        </div>
    </form>
  </div>
</div>
</div>

</body>
{% endblock %}
{% include 'footer.html' %}
</html> 
 
