<!-- gestion_pieces/templates/liste_pieces.html -->
{% load static %}
{% include 'header.html' %}
{% include 'head.html' %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static '/css/kdiong.css' %} " />
</head>
<style>
    .bandeau {
  height: 420px; /* Ajustez la hauteur selon vos besoins */
  background-image: url("{% static 'img/bandeau.jpg'%}");
  background-size: cover; /* Pour que l'image couvre toute la largeur */
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<body>
 <div class="bandeau">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-success text-center" data-mdb-theme="dark">
          <h1 class="mb-3" >Système de suivi des Objets Perdus</h1>
          <h5 class="mb-4">Déclaraton en ligne des pièces administratives perdues</h5>
        </div>
    </div>
 </div>
 {% block content %}
 <div class="row d-flex justify-content-center">
  <div class="col-md-6"><br> 
    <h2> Formulaire de déclaration de perte </h2><br>
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4">
        <div class="col">
          <div class="bg-success rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: zoomIn;">
          <div class="row g-5">
            <div class="col-lg-12 wow slideInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                <form>
                    <div class="row g-12">
                        <div class="col-12">
                          <select class="form-select bg-light border-0" style="height: 55px;">
                              <option selected="">Nom de la pièce</option>
                              <option value="carte identite">Carte d'identité</option>
                              <option value="passeport">Passeport</option>
                              <option value="permis de conduire">Permis de conduire</option>
                          </select>
                        </div>
                        <br> 
                        <div class="col-12">
                          <textarea class="form-control border-0 bg-light px-4 py-3" name="description" rows="4" placeholder="Description"></textarea>
                        </div>
                        <br> 
                        <div class="col-6">
                          <input type="date" class="form-control border-0 bg-light px-4" name="date_de_declaration" placeholder="Date de déclaration" style="height: 55px;">
                        </div>
                        <br> 
                        <div class="col-md-9">
                            <input type="file" class="form-control border-0 bg-light px-4"  name="image" accept="image/png, image/jpeg"  style="height: 55px;">
                        </div>
                        <br> 
                        <div class="col-6" ALign="left">
                            <button class="btn btn-warning w-100 py-3" type="submit">Valider</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div> 
    </div>
</div>
</body>
{% endblock %}
{% include 'footer.html' %}
</html>

